.button {
    width: 66vw;
    height: 8vh;
    margin: 0 auto;
    position: relative;
    border-radius: 2vh;
    background-color: #fff;
    text-align: center;
    font-family: 'Arial','Microsoft YaHei',sans-serif;
    font-size: 2.5vh;
    line-height: 8vh;
    margin-top: 5vh;
    box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, .2);
}
#buttonImg {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:5%
}