.Navbarbottombox{
    position: absolute;
    bottom: 3vh;
    width: 100vw;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
}
.Navbarbottomitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    width: 15vw;
}
.Navbarbottomitem image{
    width: 70px;
    height: 70px;

}
.Navbarbottomitem text{
    font-size: 25px;
    text-align: center;
    color: white;
}