.gameInfoBox {
    width: 81.2vw;
    border-radius: 30px;
    background-color: #fff;
    font-family: 'Arial','Microsoft YaHei',sans-serif;
    margin: 0 auto;
    margin-top: 3.3vw;
    box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, .2);
    z-index: 1;
    min-height: 21vh;
}
.gameName {
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
}
.gameInfo {
    font-size: 30px;
    margin-left: 20px;
    word-break:normal;
    word-wrap:break-word;
        
}
.checked {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
}
