.gameselectimg {
    width: 4vw;
    height: 3.2vw;
}
.gameselectbox {
    font-size: 4vw;
    width: 20.8vw;
    position: relative;
}
.boxofchildren {
    display: flex;
    flex-direction: column;
    visibility: visible;
}
.boxofchildrenalt {
    visibility: hidden;
}
.headtit {
  display: flex;
  justify-content: center;
}