.gameselectitem {
    display: flex;
    width: 20.8vw;
    height: 4vw;
    border-radius: 1vw;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 3.6vw;
}
.custom {
    background-color: orange;
   
}
.alter {
    background-color: white;
   
}