.background {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    
}
.backover {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #cccce2;
    opacity: .6;
    z-index: -1;
}
.backi {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
#infoBox {
    margin-top: 2.8vh;
    display: flex;
    align-items: center;
}
#infoBox image {
    width: 8.6vh;
    height: 8.6vh;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    margin-left: 8.6vw;
}
#textBox {
    display: flex;
    flex-direction: column;
    margin-left: 14vw;
    color: #fff;
}
.id {
    font-size: 50px;
}
.detail {
    font-size: 32px;
}
#navigatebar {
    margin-top: 2.6vh;
    margin-left: 8.6vw;
}
.imageToSwip {
    margin: auto;
    width: 88.2vw;
    height: 16.8vh;
    border-radius: 30px;
    margin-top: 2.9vh;
}
.imagecontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4.4vh;
}
.icebox {
    display: flex;
}
.icebig {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 2.8vh;
    left: 52%;
    opacity: .7;
    transform: translateX(-50%);
}
.icelittle {
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: 2.8vh;
    left: 48%;
    opacity: .7;
    transform: translateX(-50%);
    z-index: 20;
}