.gamebackground {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    
}
.gamebackover {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f2e7bb;
    /* opacity: .6; */
    z-index: -1;
}
.gameimage {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 26vh;
}
#filt {
    margin-top: 4.1vw;
    display: flex;
    justify-content: space-around;
}
.ti {
    margin-top: 8.3vw;
    font-size: 4.6vw;
    margin-left: 6.2vw;
}