.alertpage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: .6;
    z-index: 40;
}
.alertitem {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width:60vw;
    height:40vh;
    border-radius: 40px;
    z-index: 41;
    opacity: 1;
}
.show {
    display: block;
    color: black;
}
.noshow {
    display: none;
}
.pagetext {
    margin-left: 8vw;
    margin-top: 2vh;
    font-size: 36px;
}