.playbox {
    margin: 10px 10px;
}
.history {
  /* min-height: auto; */
  overflow: auto;
}
.historyItem {
  /* width: 100%; */
  /* height: 20vh; */
  /* min-height: auto; */
  position: relative;
  /* overflow: hidden; */
  /* overflow-y: auto; */
  width: 81.2vw;
    border-radius: 30px;
    background-color: red;
    font-family: 'Arial','Microsoft YaHei',sans-serif;
    margin: 0 auto;
    margin-top: 3.3vw;
    box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, .2);
    /* z-index: 20; */
}
 
.historyItem .itemDelete {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  width: 81.2vw;
  font-size: 40px;
  color: white;
  text-align: center;
  background: red;
}
 
.historyItem .right {
  float: right;
  width: 80vw;
}
 .text {
   position: absolute;
   right: 60px;
   top:50%;
   transform: translateY(-50%);
    color: #fff;
    text-align: center;
    /* width: 80vw; */

    /* z-index: 200; */
 }
 
.historyItem .itemCover {
 
  border-radius: 30px;
  border-radius: 1px solid white;
  /* width: 100%; */
  /* height: 50px; */
  background: white;
  border: 1px solid white;
}